# Ignore node_modules directory
node_modules/

# Ignore dist directory
dist/

# Ignore main.js
main.js

# Ignore IDE configuration files
*.idea

# Ignore .txt files
*.txt

# Ignore personal build script
copy-build-files.mjs