.color-highlighter {
    -webkit-box-decoration-break: clone;
}

.color-highlighter.background {
    border-radius: 3px;
    padding: 0.1em 0.2em;
}

.color-highlighter.background[data-contrast-border="true"] {
    border: 1px solid var(--background-modifier-border-hover);
    padding: calc(0.1em - 1px) calc(0.2em - 1px);
}

.color-highlighter.border {
    border-radius: 3px;
    border: 2px solid;
    padding: 0 0.2em;
}

.color-highlighter.underline {
    border-bottom: 2px solid;
}

.color-highlighter-square {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 0.25em;
    vertical-align: middle;
    border-radius: 1px;
}

.color-highlighter-square[data-contrast-border="true"] {
    border: 1px solid var(--background-modifier-border-hover);
}